@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
.centrado {
  height: 100vh;
  display: flex;
  background: rgba(255, 255, 255, 0.205);
  justify-content: center;
  align-items: center;
}
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #ff3737;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.cabecera {
  background-color: rgba(255, 255, 255, 0.685);
  z-index: 1000;
}
.punto_cabecera {
  width: 9%;
  margin-top: 1.8%;
  margin-bottom: 1.5%;
}
.cont_usuario {
  text-align: center;
  position: absolute;
  width: 30%;
  margin-left: 75%;
  margin-top: -4%;
  display: flex;
}
.menu-usuario {
  display: inline-block;
  list-style: none;
  width: 55%;
  margin: -8%;
}
.menu-usuario1 {
  list-style: none;
  width: 50%;
  margin: -8%;
}
.nombre {
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin-top: 12%;
}
.div_perfil {
  text-align: center;
  margin-top: 10%;
  width: 22%;
  margin-left: 40%;
}
.pre_entorno_perfil {
  overflow: hidden;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: all 0.5s;
}

.pre_entorno_perfil:active {
  width: 50px;
  height: 50px;
}
.pre_entorno_perfil img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .pre_entorno_perfil img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.flecha {
  position: relative;
  right: 15%;
  color: #f74d4d;
  font-size: 15px;
  font-weight: bold;
  margin-top: -1%;
  cursor: pointer;
}
.opciones_perfil {
  position: absolute;
  top: 13.4%;
  left: 100%;
  width: 20%;
  z-index: 1000;
  transition: all 0.7s;
  border-left: rgb(148, 148, 148) solid 1px;
  border-bottom: rgb(148, 148, 148) solid 1px;
}
.mostrar {
  left: 80%;
}
.no_mostrar {
  left: 100%;
}
.ocultar {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: all 0.6s;
}
.menu {
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu_link {
  display: block;
  color: black;
  text-decoration: none;
  padding: 13px;
  transition: all 0.4s;
}
.menu_link:hover {
  background: #f74d4d;
  color: white;
}
#ref {
  background: #f74d4d;
  color: white;
}
#principio {
  position: absolute;
}
.img_servicio {
  width: 100vw;
  height: 100vh;
  z-index: -100%;
  filter: brightness(0.6);
}
.titulo {
  position: absolute;
  color: rgba(255, 255, 255, 0.835);
  top: 20%;
  width: 100%;
  z-index: 100;
}
.titulo1 {
  font-size: 60px;
}
.titulo2 {
  color: rgba(255, 255, 255, 0.835);
  font-size: 90px;
}
.crear {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 22px;
  padding: 10px;
  border-radius: 20px;
  padding-left: 7%;
  padding-right: 7%;
  background: rgba(246, 246, 246, 0.604);
  position: relative;
  cursor: pointer;
  transition: all 0.9s;
}
.crear:hover {
  box-shadow: inset -270px 0 0 0 #ff4444;
  color: white;
}
/*--------------------------------------------tipo de solicitud--------------------------------------------*/
.tipo_solicitud {
  position: absolute;
  top: 200%;
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}
.contenido_tipo_solicitud {
  position: absolute;
  top: 1%;
  width: 100%;
  max-width: 100%;
  margin: auto;
}
.volver {
  text-align: center;
  position: absolute;
  left: 5%;
  top: 5%;
  padding-bottom: 2px;
  cursor: pointer;
}
.volver_txt {
  color: black;
  transform: translateY(50%);
}
.volver_txt:hover {
  color: #ff3737;
}
.mostrar2 {
  top: 13.2%;
}
.hidden {
  visibility: hidden;
}
.tipo_item img {
  width: 100%;
  filter: brightness(2);
  transition: all 0.5s;
}
.tipo_container {
  display: flex;
  margin-top: 4%;
}
.tipo_item {
  margin: 2% 14%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.tipo_txt {
  position: absolute;
  bottom: 0%;
  padding: 0 20px;

  background: rgba(3, 3, 3, 0.575);

  transform: translateY(100%);
  transition: all 0.5s ease-out;
}

.tipo_txt p {
  text-align: justify;
  color: white;
}
.tipo_txt h2 {
  color: #f74d4d;
  font-size: 30px;
}
.tipo_item:hover .tipo_txt {
  transform: translateY(0%);
}
.tipo_item:hover .tipo_img {
  transform: scale(1.15);
  filter: brightness(1);
}

/*-------------------------------------------Creacion solicitud-------------------------------------------*/
.div_sombra {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.452);
  padding: 15px;
  -webkit-box-shadow: 0px 0px 93px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 93px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 93px 5px rgba(0, 0, 0, 0.75);
}
.div_alerta {
  width: 20%;
  background: white;
  margin: 15%;
  z-index: 1000;
  text-align: center;
  padding: 3%;
  border-radius: 5px;
}
.aceptar {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  background: #f74d4d;
  padding: 7px;
  margin-bottom: 5%;
  transition: all 0.6s;
}
.aceptar:hover {
  background: rgb(255, 54, 54);
}
.cont_todo {
  position: relative;
  width: 100%;
  justify-content: center;
  max-width: 100%;
}
.titulo_solicitud {
  width: 30%;
  text-align: center;
}
.volver_txt {
  text-decoration: none;
  color: #ff4444;
}
.volver1 {
  position: absolute;
  margin-left: 3%;
  top: 18%;
}
.div-solicitud {
  position: absolute;
  margin: 15%;
  margin-top: -1%;
  width: 20%;
  height: 450px;
}
.direc {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: solid 1px rgb(163, 163, 163);
  background: rgba(255, 255, 255, 0.438);
}
.boton {
  margin-top: 17.5%;
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 18px;
  color: white;
  background: #fd7575;
  cursor: pointer;
  transition: all 0.4s;
}
.boton:hover {
  background: #ff3737;
  color: white;
}
.text_area {
  position: relative;
  bottom: 425px;
  left: 100%;
}
.descripcion {
  font-size: 16px;
  resize: none;
  border-radius: 5px;
  border: solid 1px rgb(163, 163, 163);
  background: rgba(255, 255, 255, 0.438);
  font-family: "Montserrat", sans-serif;
}
/*------------------------------------------------foto------------------------------------------------*/
.pre_entorno {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.308);
  margin-top: 3%;
  margin-bottom: 2%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.pre_entorno img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .pre_entorno img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.delete {
  text-decoration: none;
  color: white;
  background: tomato;
  padding: 10px;
  margin-bottom: 2%;
  transition: all 0.5s;
}
.delete:hover {
  background: rgb(246, 37, 0);
}
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.subir {
  font-size: 14px;
  color: #fff;
  background-color: #2aa3e9;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 40px;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}
.subir:hover {
  background-color: #0075b9;
}
.imagen {
  border: none;
  font-family: "Montserrat", sans-serif;
}
.save {
  border: none;
  background: rgb(0, 61, 61);
  color: white;
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
  width: fit-content;
  transition: all 0.5s;
}
.save:hover {
  background: teal;
}
.id_ad {
  display: none;
}
