@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
.cabecera {
  background-color: rgba(255, 255, 255, 0.685);
  z-index: 1000;
}
.punto_cabecera {
  width: 9%;
  margin-top: 1.8%;
  margin-bottom: 1.5%;
}
.cont_usuario {
  text-align: center;
  position: absolute;
  width: 30%;
  margin-left: 75%;
  margin-top: -4%;
  display: flex;
}
.menu-usuario {
  display: inline-block;
  list-style: none;
  width: 55%;
  margin: -8%;
}
.menu-usuario1 {
  display: inline-block;
  list-style: none;
  width: 50%;
  margin: -8%;
}
.nombre {
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin-top: 12%;
}
.div_perfil {
  text-align: center;
  margin-top: 10%;
  width: 22%;
  margin-left: 40%;
}
.pre_entorno_perfil {
  overflow: hidden;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: all 0.5s;
}

.pre_entorno_perfil:active {
  width: 50px;
  height: 50px;
}
.pre_entorno_perfil img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .pre_entorno_perfil img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.flecha {
  color: #f74d4d;
  font-size: 15px;
  font-weight: bold;
  margin-top: -1%;
  transform: translateX(-3%);
  cursor: pointer;
}
.opciones_perfil {
  position: absolute;
  top: 13.4%;
  left: 100%;
  width: 20%;
  transition: all 0.7s;
  border-left: rgb(148, 148, 148) solid 1px;
  border-bottom: rgb(148, 148, 148) solid 1px;
}
.mostrar {
  left: 80%;
}
.ocultar {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: all 0.6s;
}
.menu {
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu_link {
  display: block;
  color: black;
  text-decoration: none;
  padding: 13px;
  transition: all 0.4s;
}
.menu_link:hover {
  background: #f74d4d;
  color: white;
}
#ref {
  background: #f74d4d;
  color: white;
}
.rol {
  padding: 8px;
  font-size: 17px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 7px;
  cursor: pointer;
}
.div_sombra {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.452);
  padding: 15px;
  -webkit-box-shadow: 0px 0px 93px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 93px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 93px 5px rgba(0, 0, 0, 0.75);
}
.div_alerta {
  width: 20%;
  background: white;
  margin: 15%;
  text-align: center;
  padding: 3%;
  border-radius: 5px;
}
.aceptar {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  background: #f74d4d;
  padding: 7px;
  margin-bottom: 5%;
  transition: all 0.6s;
}
.aceptar:hover {
  background: rgb(255, 54, 54);
}
.contenedor_registro {
  width: 100%;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-registro {
  width: 90%;
}
.text,
input[type="date"],
input[type="password"] {
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  width: 233px;
  font-size: 18px;
  background: transparent;
  border: solid 1px gray;
  font-family: "Montserrat", sans-serif;
}
.texto_iniciar_sesion {
  font-size: 15px;
  margin-bottom: -4%;
}
.enlace_iniciar_sesion {
  text-decoration: none;
  font-size: 16px;
}
.enlace_iniciar_sesion:hover {
  text-decoration: underline;
}
input[type="submit"] {
  width: 545px;
  border: none;
  padding: 10px;
  font-size: 21px;
  border-radius: 3px;
  color: white;
  background: #f74d4d;
  margin-top: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}
input[type="submit"]:hover {
  transition: all 0.6s;
  background: rgb(255, 54, 54);
}
.volver_index {
  color: rgb(58, 58, 58);
  font-size: 17px;
  text-decoration: none;
}
.volver_index:hover {
  text-decoration: underline;
}
